<div id="<%= dom_id recipi %>">
  <p>
    <strong>Title:</strong>
    <%= recipi.title %>
  </p>

  <p>
    <strong>Cook time:</strong>
    <%= recipi.cook_time %>
  </p>

  <p>
    <strong>Prep time:</strong>
    <%= recipi.prep_time %>
  </p>

  <p>
    <strong>Ratings:</strong>
    <%= recipi.ratings %>
  </p>

  <p>
    <strong>Cuisine:</strong>
    <%= recipi.cuisine %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipi.category %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= recipi.author %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= recipi.image %>
  </p>

  <p>
    <strong>Ingredients</strong> <%= recipi.ingredients.map(&:name).join(" ")%>
  </p>

</div>
