<p style="color: green"><%= notice %></p>

<h1>Recipis</h1>
<%= render "search_form" %>
<div id="recipis">
  <div class="row">
    <% @recipis.each do |recipi| %>
      <div class="col-md-3">
      <% if recipi.image.present? %>
        <%= image_tag recipi.image, class: "img-fluid" %>
      <% end %>
      <p>
        <%= link_to recipi.title, recipi %>
      </p>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "New recipi", new_recipi_path %>
